
html, body {
    background-color: #f8f8f8;
}

.title {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align:center;
}

#chart {
    height: 750px;
}

.footer {
    font-size: 12px;
    text-align: center;
}